* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgb(24, 24, 24);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  margin: 0 auto;
  width: 90%;
  padding-top: 1rem;
}

.game-bord {
  height: 20rem;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  background-clip: padding-box;
}

h1 {
  font-size: 2.2em;
  text-decoration: underline;
  text-decoration-color: rgb(209, 190, 190);
  background: -webkit-linear-gradient(
    180deg,
    rgba(156, 51, 78, 1) 0%,
    rgba(86, 7, 238, 1) 50%,
    rgba(199, 223, 103, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn {
  padding: 1rem;
  background-color: aqua;
  border-radius: 5px;
  border: none;
  color: black;
  font-weight: 800;
  z-index: 1;
  position: relative;
  outline: none;
  transition: color 300ms ease-in-out;
}

.btn::before {
  content: '';
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #eee;

  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.btn:hover::before,
.btn:focus::before {
  transform: scaleX(1);
}

@media (min-width: 1000px) {
  h1 {
    font-size: 4em;
  }
  .game-bord {
    width: 50%;
  }

  p {
    font-size: 4rem;
  }
}
